<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pic page</title>
</head>
<body>

<h1>pic page</h1>
{{ range . }}

<form action="/" method="POST">
    <input type="text" name="fname" placeholder="first name" autofocus autocomplete="off">
    <input type="submit" name="submit-btn" value="watch name">
</form>

</body>
</html>