
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pic page</title>
</head>
<body>

<h1>upload page</h1>

<td><a href="/index">index</a></td>

</body>
</html>




{{/* <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Page</title>
</head>
<body>

<h1>Upload page</h1>

<form method="POST" action="insert">
      <label> Name </label><input type="text" name="brand" /><br />
      <input type="submit" value="Save user" />
    </form>

<td><a href="/">index</a></td>

</body>
</html> */}}